@media screen and (max-width: 1200px){
    #services .services .services-img img{
        width: 70%;
    }
}

@media screen and (max-width: 992px){
    header #menu{
        display: none;
    }
    
    .CounBoxC, .CounBoxD{
        margin-top: 20px;
    }  

    #premiumProperty .premiumProperty .premiumItem img{
        width: 50%;
    }

    #services .services .services-img img{
        width: 70%;
    }
    
    #contactUs .contactUs-title p{
        padding-bottom: 25px;
    }

    #payeKohDescription .payeKohDescription .description-item{
        margin-top: 25px;
    }

}


@media screen and (max-width: 768px){

    header .header .mainTitle img.logoImg{
        width: 110px;
        padding-left: 10px;
    }
    
    header .header .mainTitle img.logoTxt{
        width: 310px;
    }

    #header-input{
        padding: 0 10px;
    }

    #services .services .services-img img{
        width: 70%;
    }

    footer .waveAnimation{
        top: -40px;
    }

    footer .footer-menu{
        margin-top: 35px;
    }

    footer .footer-lorem{
        margin-top: 35px;
    }

    footer .footer-social{
        margin-top: 20px;
    }

}


@media screen and (max-width: 576px){

    #mainHeader-content{
        top: 40%;
        right: 40%;
        transform: translate(40%, -40%);
        -webkit-transform: translate(40%, -40%);
        -moz-transform: translate(40%, -40%);
        -ms-transform: translate(40%, -40%);
        -o-transform: translate(40%, -40%);
    }

    header .header .mainTitle img.logoImg{
        width: 90px;
        padding-left: 10px;
    }
    
    header .header .mainTitle img.logoTxt{
        width: 280px;
    }

    header #header-input .inputSelect-header label{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-bottom: 10px;
    }

    #about h2{
        font-size: 28px !important;
    }

    #counterUp .counter-section .CounBoxB{
        margin-top: 25px;
    }

    #services .services .services-item{
        border-top: 1px solid #a1a1a1;
        padding-bottom: 20px;
        padding-top: 0;
        margin: 0 5px;
    }

    #services .services .services-content{
        text-align: center;
        padding-top: 20px;
    }

    #services .services .services-content h3{
        font-size: 25px;
    }

    #services .services .services-content ul li{
        list-style: none;
    }

    #services .services{
        padding-top: 0 !important;
    }

    #services .services .services-img{
        padding-top: 30px;
    }

    #services .services .services-img img{
        width: 50%;
    }

    #contactUs .contactUs .contactUs-Btn button.delForm{
         margin-top: 10px;
    }
}


@media screen and (max-width: 400px){

    header .header .mainTitle img.logoImg{
        width: 65px;
        padding-left: 10px;
    }
    
    header .header .mainTitle img.logoTxt{
        width: 210px;
    }

    header #header-input .inputSelect-header select{
        padding: 4px 8px;
        font-size: 13px;
    }

    #premiumProperty .premiumProperty .premiumItem img{
        width: 100%;
    }
}
