/*----------------------------------------------------------------*/
/*------------------------------Loading---------------------------*/
/*----------------------------------------------------------------*/

#loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* You can customize the background color */
    z-index: 1000; /* Ensure it's above other elements */
}

#loading-container img{
    padding-top: 30px;
    width: 150px;
}

/*----------------------------------------------------------------*/
/*------------------------------Loading---------------------------*/
/*----------------------------------------------------------------*/


header{
    width: 100%;
    height: 750px;
    position: relative;
    background-image: url(../../assets/img/Header-background-blur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#ContactSlider{
    width: 85%;
    position: absolute;
    top: 650px;
    left: 50%;
    background-color: red;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding: 20px 20px;
    background-color: rgba(93, 129, 108, 0.5);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#ContactSlider .splide__track ul li{
    text-align: center;
    color: #fff;
    font-family: "ravi";
    font-weight: 800;
    cursor: pointer;
}

#ContactSlider .splide__arrow{
    display: none;
}

#ContactSlider .splide__pagination{
    display: none;
}

header #menu{
    width: 98%;
    position: relative;
    top: 10px;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: rgba(93, 129, 108, 0.5);
    /* background-color: rgba(225, 225, 225, 0.9); */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

header #menu.sticky{
    width: 100%;
    padding: 8px;
    background-color: rgba( 225, 237, 255, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}



header #menu.sticky:hover{
    background-color: rgba( 225, 237, 255, 1);
}

header #menu.sticky #mainNavbar nav ul li a{
    color: #000;
}

header #menu.sticky #mainNavbar nav ul li a svg{
    color: #000;
}

header #menu.sticky #mainNavbar nav ul li.active a svg{
    color: #fff;
}

header #menu #Subscription{
    border: none;
    font-family: "yekanBakh";
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #337068;
    border: 1px solid #337068;
    padding: 5px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu #Subscription:hover{
    color: #337068;
    background-color: #fff;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

header #menu #Subscription svg{
    margin-left: 5px;
}

header #menu #mainNavbar nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #menu #mainNavbar nav ul li{
    list-style: none;
    /* margin: 5px 10px; */
    margin: 0 10px;
    padding: 5px 12px;
    cursor: pointer;
}

header #menu #mainNavbar nav ul li a svg{
    margin-left: 8px;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu #mainNavbar nav ul li.active a{
    color: #fff;
}

header #menu #mainNavbar nav ul li.active svg{
    color: #fff;
}

header #menu #mainNavbar nav ul li.active{
    background-color: #337068;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu #mainNavbar nav ul li.active:hover{
    background-color: #fff;
    transform: scale(1.05);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

header #menu #mainNavbar nav ul li.active:hover a{
    color: #337068;
}

header #menu #mainNavbar nav ul li.active:hover svg{
    color: #337068;
}

header #menu #mainNavbar nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

header #menu #mainNavbar nav ul li a:hover{
    color: #afafaf;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu #mainNavbar nav ul li a:hover svg{
    color: #afafaf;
}

header #menu .userBtn button{
    font-family: "yekanBakh";
    font-weight: 600;
    font-size: 16px;
    width: 70px;
    padding: 5px 8px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu .userBtn button:nth-child(1){
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

header #menu .userBtn button:hover:nth-child(1){
    color: rgba(51, 113, 104, 1);
    background-color: #fff;
    /* border: 1px solid #adc6c3; */
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}

header #menu .userBtn button:nth-child(2){
    color: #fff;
    background-color: #337068;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

header #menu .userBtn button:hover:nth-child(2){
    color: #337068;
    background-color: #fff;
    border: 1px solid #337068;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}


#mainHeader-content{
    width: 100%;
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -45%);
    -webkit-transform: translate(50%, -45%);
    -moz-transform: translate(50%, -45%);
    -ms-transform: translate(50%, -45%);
    -o-transform: translate(50%, -45%);
}

header .header #mainTitle{
    text-align: center;
    padding: 10px 0;
}

header .header .mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header .mainTitle img.logoImg{
    width: 130px;
    padding-left: 15px;
    transition: all 0.3s ease-in-out
}

header .header .mainTitle img.logoTxt{
    width: 350px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.mainHeaderContent{
    text-align: center;
}

.mainHeaderContent h1{
    font-family: "ravi";
    font-weight: 800;
    color: #fff;
    padding: 15px 0;
    font-size: 35px;
}

.random-word {
    display: block;
    font-family: "ravi";
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    color: rgba(207, 207, 207, 0.9);
    /* letter-spacing: 3px; */
    width: 100%;
  /*   transition: all 1.25s; */
    animation: slidedown 4s infinite;
    -webkit-animation: slidedown 4s infinite;
    -moz-animation: slidedown 4s infinite;
  }
  
  @keyframes slidedown {
    0% {
      opacity: 50;
    }
    
    5% {
      opacity: 0;
      transform: translateY(0.5em);
    }
    
    7% {
      transform: translateY(-1em);
    }
    
    10% {
      opacity: 0;
    }
    
    20% {
      transform: translateY(0);
      opacity: 100;
    }
  }
  
.mainHeaderContent a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 10px;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.mainHeaderContent a.joinUs{
    color: #337068; 
    background-color: #fff;
    border: 2px solid #337068;
}

.mainHeaderContent a.joinUs:hover{
    color: #fff; 
    background-color: #337068;
    border: 2px solid #fff;
}

.mainHeaderContent a.mtprotoConnection{
    color: #fff; 
    border: 2px solid #fff;
}

.mainHeaderContent a.mtprotoConnection:hover{
    color: #fff; 
    background-color: #337068;
    border: 2px solid #fff;
}

/*----------------------------------------------------------------*/
/*----------------------------CounterUp---------------------------*/
/*----------------------------------------------------------------*/

#counterUp{
    width: 100%;
    padding: 80px 0;
    background-image: url(../../assets/img/bg-1.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
}


#counterUp .counterUp-title{
    text-align: center;
}

#counterUp .counterUp-title p{
    color: #7a7a7a;
    font-size: 20px;
    font-family: "ravi";
    padding-bottom: 10px;
}

#counterUp .counterUp-title h2{
    font-family: "ravi";
    font-size: 32px;
    font-weight: 800;
}

#counterUp .counter-section{
    padding-top: 50px;
}

#counterUp .counter-section .counterBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e1;
}

/* .counter-section .counterBox:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */

#counterUp .counter-section .CounBoxD, .CounBoxE, .CounBoxF{
    margin-top: 25px;
}

#counterUp .counter-section .counterBox p{
    font-family: "kalameh";
    font-size: 20px;
    padding: 10px 0 !important;
    color: #7a7a7a !important;
}

#counterUp .counter-section .counterBox .counter{
    padding: 0 !important;
    color: #000 !important;
    font-family: "kalameh";
    font-size: 25px;
}

#counterUp .counter-section .counterBox svg{
    font-size: 30px;
}

#counterUp .counter-section .CounBoxA svg{
    color: #00b6ff;
}

#counterUp .counter-section .CounBoxB svg{
    color: #ff00b9;
}

#counterUp .counter-section .CounBoxC svg{
    color: #00ff2e;
}

#counterUp .counter-section .CounBoxD svg{
    color: #00ffff;
}

#counterUp .counter-section .CounBoxF svg{
    color: #ff6800;
}

/*----------------------------------------------------------------*/
/*-------------------------------About----------------------------*/
/*----------------------------------------------------------------*/

#about{
    width: 100%;
    padding: 80px 0;
    background-color: #e7effb;
    text-align: center;
}

#about h2{
    font-size: 32px;
    font-weight: 800;
    font-family: "ravi";
}



/*----------------------------------------------------------------*/
/*----------------------------Card Category-----------------------*/
/*----------------------------------------------------------------*/


/* #cardCategory{
    width: 100%;
    padding: 50px 0 80px 0;
    background-image: url(../../assets/img/Vector.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#cardCategory .cardCategory-title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

#cardCategory .cardCategory-title img{
    position: absolute;
    right: 5px;
    top: 8px;
    width: 160px;
}

#cardCategory .cardCategory-title a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #006d95;
    padding: 7px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#cardCategory .cardCategory-title a:hover{
    color: #fff;
    background-color: #a0deff;
}

#cardCategory .cardCategory-title svg{
    margin-right: 5px;
}

#cardCategory .cardCategory-title h2{
    font-family: "vazir";
    font-size: 18px;
    color: #006d95;
    padding-right: 5px;
}

#cardCategory .cardCategory{
    width: 100%;
}

#cardCategory .cardCategory .categoryItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

#cardCategory .cardCategory .categoryItem:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

#cardCategory .cardCategory .categoryItem h2{
    font-family: "yekanBakh";
    color: #fff;
    font-size: 35px;
}

#cardCategory .cardCategory .categoryItem a.categoryReed{
    text-decoration: none;
    position: absolute;
    display: flex;
    padding: 7px 11px;
    bottom: 0;
    left: 0;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #0098db;
    border-radius: 0 15px 0 15px;
    -webkit-border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
    -ms-border-radius: 0 15px 0 15px;
    -o-border-radius: 0 15px 0 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#cardCategory .cardCategory .categoryItem:hover a.categoryReed{
    background-color: #e81783;
}

#cardCategory .cardCategory .categoryItem a.categorySvg{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #0098db;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#cardCategory .cardCategory .categoryItem:hover a.categorySvg{
    opacity: 1;
    visibility: visible;
}

#cardCategory .cardCategory .categoryItem a:nth-child(3){
    top: 45px;
}


#cardCategory .cardCategory .categoryItem a:nth-child(4){
    top: 82px;
}

#cardCategory .cardCategory .categoryItem a.categorySvg svg{
    color: #fff;
}


#cardCategory .cardCategory .categoryItemA{
    background: url(../../assets/img/mountainCover-Green.jpg);
    background-size: cover;
    background-position: center;
}

#cardCategory .cardCategory .categoryItemB{
    background: url(../../assets/img/JungleCover-Green.jpg);
    background-size: cover;
    background-position: center;
}

#cardCategory .cardCategory .categoryItemC{
    background: url(../../assets/img/RiverCover-Blue.jpg);
    background-size: cover;
    background-position: center;
}

#cardCategory .cardCategory .categoryItemD{
    background: url(../../assets/img/desertCover-orange.jpg);
    background-size: cover;
    background-position: center;
}

.splide__slide{
    padding: 20px 10px;
}

.splide__pagination{
    position: absolute;
    bottom: -30px;
}

.splide__pagination__page.is-active{
    color: #004ebf !important;
}

.splide__arrow{
    top: 60% !important;
    background-color: #004ebf;
}

.splide__arrow svg{
    color: #fff !important;
} */

/*----------------------------------------------------------------*/
/*------------------------------About-----------------------------*/
/*----------------------------------------------------------------*/


/* @keyframes cursor {
	0%, 10% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 400px; 
  }
} */


/*----------------------------------------------------------------*/
/*------------------------------Services--------------------------*/
/*----------------------------------------------------------------*/

#services{
    width: 100%;
    padding: 0 0 50px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(../../assets/img/bg-6.png);
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}

/* #services::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #0098db;
    transform-origin: top;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(-50%) scale(4);
    -webkit-transform: translateX(-50%) scale(4);
    -moz-transform: translateX(-50%) scale(4);
    -ms-transform: translateX(-50%) scale(4);
    -o-transform: translateX(-50%) scale(4);
} */

#services .services-title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

#services .services-title img{
    position: absolute;
    right: 5px;
    top: 8px;
    width: 160px;
}

#services .services-title a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #006d95;
    padding: 7px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#services .services-title a:hover{
    color: #fff;
    background-color: #a0deff;
}

#services .services-title svg{
    margin-right: 5px;
}

#services .services-title h2{
    font-family: "vazir";
    font-size: 18px;
    color: #006d95;
    padding-right: 5px;
}

#services .services{
    width: 100%;
    padding: 70px 0;
}

#services .services .services-item{
    padding-top: 80px;
}

#services .services .services-content{
    width: 100%;
}

#services .services .services-content h3{
    font-size: 28px;
    font-weight: 900;
    line-height: 52px;
    font-family: "ravi";
}

#services .services .services-content p{
    color: #7a7a7a;
    padding: 10px 0;
    font-family: "ravi";
    font-weight: 600;
    font-size: 20px;
}

#services .services .services-content ul{
    padding-right: 15px;
}

#services .services .services-content ul li{
    color: #7a7a7a;
    font-size: 17px;
    font-family: ravi;
    font-weight: 100;
    padding: 5px 0;
}

#services .services .services-content a{
    text-decoration: none;
    display: inline-block;
    font-family: "vazir";
    color: #006d95;
    border: 1px solid #006d95;
    margin-top: 8px;
    text-align: center;
    width: 250px;
    padding: 7px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#services .services .services-content a:hover{
    color: #fff;
    border-color: #fff;
    background-color: #006d95;
}

#services .services .services-img{
    text-align: center;
    width: 100%;
}

#services .services .services-img img{
    width: 40%;
}


/*----------------------------------------------------------------*/
/*---------------------Paye Koh Description-----------------------*/
/*----------------------------------------------------------------*/

#payeKohDescription{
    width: 100%;
    padding: 30px 0 80px 0;
    background-image: url(../../assets/img/bg-4.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
}

#payeKohDescription .payeKohDescription-title{
    text-align: center;
    padding-bottom: 45px;
}

#payeKohDescription .payeKohDescription-title h2{
    font-family: "ravi";
    font-size: 32px;
    font-weight: 800;
}

#payeKohDescription .payeKohDescription{
    width: 100%;
}

#payeKohDescription .payeKohDescription .description-item{
    text-align: center;
}

#payeKohDescription .payeKohDescription .description-item svg{
    font-size: 35px;
}

#payeKohDescription .payeKohDescription .description-item .fa-circle-check{
    color: #00c1ff;
}

#payeKohDescription .payeKohDescription .description-item .fa-circle-info{
    color: #00ff5d;
}

#payeKohDescription .payeKohDescription .description-item .fa-shield-halved{
    color: #002eff;
}

#payeKohDescription .payeKohDescription .description-item .fa-face-smile{
    color: #ff3e00;
}

#payeKohDescription .payeKohDescription .description-item .fa-diagram-project{
    color: #ecff00;
}

#payeKohDescription .payeKohDescription .description-item h3{
    font-family: "ravi";
    font-weight: 700;
    padding: 10px 0;
    padding-top: 7px;
}

#payeKohDescription .payeKohDescription .description-item p{
    color: #7a7a7a;
    font-size: 16px;
    font-family: "ravi";
}


/*----------------------------------------------------------------*/
/*----------------------------Accordion---------------------------*/
/*----------------------------------------------------------------*/

#accordion{
    width: 100%;
    padding: 30px 0 80px 0;
    background-image: url(../../assets/img/bg-4.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
}

#accordion .accordion-title{
    text-align: center;
    padding-bottom: 45px;
}

#accordion .accordion-title h2{
    font-family: "ravi";
    font-size: 32px;
    font-weight: 800;
}

#accordion .accordion{
    width: 100%;
}

#accordion #mainAccordion{
    /* background-color: #e1edff; */
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#accordion .accordion-img{
    width: 100%;
    text-align: center;
}

#accordion .accordion-img img{
    width: 50%;
}

#accordion .mainAccordion{
    width: 100%;
    margin: 10px 0;
}

#accordion .mainAccordion .accordionTitle{
    color: #1c6aa3;
    background-color: #e1edff;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#accordion .mainAccordion .accordionContent{
    background-color: transparent;
    text-align: justify;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#accordion .mainAccordion .accordionContent p{
    color: #4a4a4a;
    padding: 10px 5px;
    margin: 0 10px;
}



/*----------------------------------------------------------------*/
/*----------------------------Contact Us--------------------------*/
/*----------------------------------------------------------------*/

#contactUs{
    width: 100%;
    padding: 30px 0 120px 0;
}

#contactUs .contactUs-title{
    text-align: center;
}

#contactUs .contactUs-title h2{
    font-family: "ravi";
    font-size: 32px;
    font-weight: 800;
}

#contactUs .contactUs-title p{
    color: #7a7a7a;
    font-size: 18px;
    font-family: "ravi";
    padding-top: 7px;
    padding-bottom: 45px;
}

#contactUs .contactUs{
    width: 100%;
}

#contactUs .contactUs .contactUs-InputBox{
    width: 100%;
    background-color: #e1edff;
    padding: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#contactUs .contactUs .contactUs-InputBoxItem{
    width: 100%;
    padding-top: 15px;
}

#contactUs .contactUs .contactUs-InputBox label{
    width: 100%;
    font-size: 13px;
}

#contactUs .contactUs .contactUs-InputBox input{
    font-family: "vazir";
    width: 100%;
    margin-top: 7px;
    font-size: 12px;
    outline: none;
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#contactUs .contactUs .contactUs-InputBox textarea{
    font-family: "vazir";
    width: 100%;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 12px;
    outline: none;
    border: none;
    resize: none;
    overflow-y: auto;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#contactUs .contactUs .contactUs-Btn{
    width: 100%;
    padding-top: 10px;
}

#contactUs .contactUs .contactUs-Btn button{
    width: 100%;
    font-family: "vazir";
    font-weight: 600;
    padding: 10px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#contactUs .contactUs .contactUs-Btn button.sendMessage{
    background-color: #00b6ff;
    border: 2px solid #00b6ff;
}

#contactUs .contactUs .contactUs-Btn button.sendMessage:hover{
    color: #00b6ff;
    border-color:#00b6ff;
    background-color: #fff;
}

#contactUs .contactUs .contactUs-Btn button.delForm{
    background-color: #ff0800;
    border: 2px solid #ff0800;
}

#contactUs .contactUs .contactUs-Btn button.delForm:hover{
    color: #ff0800;
    border-color:#ff0800;
    background-color: #fff;
}

#contactUs .contactUs .contactUs-img{
    width: 100%;
}

#contactUs .contactUs .contactUs-img img{
    width: 100%;
}


