@media screen and (max-width: 1200px){
    #services .services .services-img img{
        width: 70%;
    }
}

@media screen and (max-width: 992px){
    header #menu{
        display: none;
    }
    
    .CounBoxC, .CounBoxD{
        margin-top: 25px;
    }  

    #premiumProperty .premiumProperty .premiumItem img{
        width: 50%;
    }

    #services .services .services-img img{
        width: 70%;
    }
    
    #contactUs .contactUs-title p{
        padding-bottom: 25px;
    }

    #payeKohDescription .payeKohDescription .description-item{
        margin-top: 25px;
    }

    #mapSection #maps .viewMap .viewMapActions .viewMapActions_center{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mapSection #maps .viewMap .viewMapActions .viewMapActions_center button{
        display: block;
    }

    #mostVisited  .mostVisited .mostVisitedTitle{
        padding-bottom: 5px;
    }

    #mostVisited .mostVisited .trailCard{
        margin-top: 25px;
    }

    footer .topFooter .sendEmail{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    footer .footerAbout{
        top: 0;
    }

    footer .mainFooter .contactUs{
        margin-top: 25px;
    }
    
    footer .mainFooter .contactUs{
        margin-top: 25px;
    }

    footer .mainFooter .contactUs{
        margin-top: 25px;
    }

    footer .mainFooter .contactUs{
        margin-top: 25px;
    }

    footer .topFooter .sendEmail::after{
        display: none;
    }

}


@media screen and (max-width: 768px){

    header .header .mainTitle img.logoImg{
        width: 110px;
        padding-left: 10px;
    }
    
    header .header .mainTitle img.logoTxt{
        width: 310px;
    }

    #toTopBtn.active{
        bottom: 77px;
    }

    #darkMode{
        bottom: 77px;
    }

    .mainHeaderContent h1{
        font-size: 28px;
    }
    
    .mainHeaderContent span{
        font-style: 18px;
    }

    #services .services .services-img img{
        width: 70%;
    }
    
    header .page-bg{
        height: 150px;
    }

    footer .waveAnimation{
        top: -40px;
    }

    footer .footer-menu{
        margin-top: 35px;
    }

    footer .footer-lorem{
        margin-top: 35px;
    }

    footer .footer-social{
        margin-top: 20px;
    }

    footer .topFooter .sendEmail{
        top: -76px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer .topFooter .sendEmail p{
        padding-bottom: 10px;
    }
    
    footer .topFooter .sendEmail .emailBox button{
        position: relative;
        left: 91px;
        bottom: 0;
    }

    #copyRight{
        padding-bottom: 100px;
    }

}


@media screen and (max-width: 576px){

    #mainHeader-content{
        top: 40%;
        right: 40%;
        transform: translate(40%, -40%);
        -webkit-transform: translate(40%, -40%);
        -moz-transform: translate(40%, -40%);
        -ms-transform: translate(40%, -40%);
        -o-transform: translate(40%, -40%);
    }

    header .header .mainTitle img.logoImg{
        width: 90px;
        padding-left: 10px;
    }
    
    header .header .mainTitle img.logoTxt{
        width: 280px;
    }

    header #header-input .inputSelect-header label{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-bottom: 10px;
    }

    #about h2{
        font-size: 28px !important;
    }

    #counterUp .counter-section .CounBoxA, .CounBoxB{
        margin-top: 25px;
    }

    #counterUp .counter-section .counterBox p{
        font-size: 17px;
    }

    #counterUp .counter-section .counterBox .counter{
        font-size: 22px;
    }

    #services .services .services-item{
        border-top: 1px solid #a1a1a1;
        padding-bottom: 20px;
        padding-top: 0;
        margin: 0 5px;
    }

    #services .services .services-content{
        padding-top: 20px;
    }

    #services .services .services-content h3{
        font-size: 25px;
    }

    #services .services{
        padding-top: 0 !important;
    }

    #services .services .services-img{
        padding-top: 30px;
    }

    #services .services .services-img img{
        width: 50%;
    }

    #contactUs .contactUs .contactUs-Btn button.delForm{
         margin-top: 10px;
    }

    #mapSection #maps .viewMap .viewMapActions{
        display: block;
    }

    #mapSection #maps .viewMap .viewMapActions .viewMapActions_right, .counter, .viewMapActions_left{
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .footerAbout p{
        width: 100%;
    }

}


@media screen and (max-width: 400px){

    header .header .mainTitle img.logoImg{
        width: 65px;
        padding-left: 10px;
    }
    
    header .header .mainTitle img.logoTxt{
        width: 210px;
    }

    .mainHeaderContent h1{
        font-size: 24px;
    }

    .mainHeaderContent span{
        font-size: 18px;
    }

    #premiumProperty .premiumProperty .premiumItem img{
        width: 100%;
    }
}
