body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 28, 28, 1)
}

/*----------------------------------------------------------------*/
/*------------------------------Header----------------------------*/
/*----------------------------------------------------------------*/

header{
    width: 100%;
}

header #menu{
    width: 98%;
    position: relative;
    top: 10px;
    margin: 0 auto;
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 3px solid rgba(255, 255, 255, 1);    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


header #menu #mainNavbar nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #menu #mainNavbar nav ul li{
    list-style: none;
    margin: 0 10px;
    padding: 5px 12px;
    cursor: pointer;
}

header #menu #mainNavbar nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: "ravi";
    font-family: 400;
}

header #menu #mainNavbar nav ul li a svg{
    margin-left: 8px;
    font-size: 15px;
    color: #000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu #mainNavbar nav ul li.active a{
    color: #fff;
}

header #menu #mainNavbar nav ul li.active svg{
    color: #fff;
}

header #menu #mainNavbar nav ul li.active{
    background-color: #337068;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu #mainNavbar nav ul li.active:hover{
    background-color: #fff;
    transform: scale(1.05);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

header #menu #mainNavbar nav ul li.active:hover a{
    color: #337068;
}

header #menu #mainNavbar nav ul li.active:hover svg{
    color: #337068;
}

header #menu #mainNavbar nav ul li a:hover{
    color: #afafaf;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu #mainNavbar nav ul li a:hover svg{
    color: #afafaf;
}



/*----------------------------------------------------------------*/
/*------------------------------Login-----------------------------*/
/*----------------------------------------------------------------*/

#login {
    width: 100%;
}

#login .login {
    background-color: rgba(42, 42, 42, 1);
    padding: 30px 30px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

#login .login h1 {
    color: #38b2ac;
    font-family: "ravi";
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#login .login h1 svg {
    padding-left: 5px;
}

#login .login .inputBox {
    width: 100%;
    position: relative;
}

#login .login .inputBox svg{
    position: absolute;
    z-index: 100;
    left: 13px;
    top: 15px;
    color: #fff;
    font-size: 20px;
}

#login .login .inputBox .fa-eye{
    left: 40px;
    cursor: pointer;
}

#login .login .inputBox .fa-eye-slash{
    left: 40px;
    cursor: pointer;
}

#login .login .inputBox input {
    width: 100%;
    height: 50px;
    padding: 20px;
    font-family: "ravi";
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#login .login .inputBox input:hover{
    transform: scale(1.02);
    border-color: #38b2ac;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

#login .login .inputBox input:focus{
    transform: scale(1.02);
    border-color: #38b2ac;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

#login .login .inputBox p#usernameResult{
    font-size: 13px;
    color: red;
    padding-right: 15px;
    padding-bottom: 15px;
}

#login .login .inputBox p#passwordResult{
    font-size: 13px;
    color: red;
    padding-right: 15px;
    padding-bottom: 15px;
}


#login .login .inputBtn {
    padding: 25px 0;
}

#login .login .inputBtn button {
    width: 100%;
    height: 45px;
    padding: 8px 0;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: "ravi";
    font-weight: 600;
    font-size: 18px;
    line-height: 15px;
    border: none;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#login .login .inputBtn button:hover{
    color: #fff;
    background-color: #38b2ac;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

#login .login p.signUp {
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
    color: #cbcbcb;
    text-align: center;
    font-family: "ravi";
}

#login .login p.signUp a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.6px;
    color: #cbad86;
    font-family: "ravi";
    margin-right: 3px;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

.inputHelp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputHelp .forgotPassword{
    width: 100%;
    padding-right: 10px;
}

.inputHelp .forgotPassword a{
    text-decoration: none;
    color: #38b2ac;
    font-family: "ravi";
    font-size: 14px;
    font-weight: 400;
}

#login .login .switchBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 5px;
}

#login .login .switchBox p{
    margin-left: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    font-family: "ravi";
    font-weight: 400;
    color: #fff;
}

@media screen and (max-width: 400px){
    .inputHelp{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputHelp .forgotPassword{
        text-align: center;
        padding-bottom: 20px;
    }

    #login .login .switchBox{
        justify-content: center;
    }
}

#login .login .switchBox .switch{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18.5px;
}

#login .login .switchBox .switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

#login .login .switchBox .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(226, 232, 240, 1);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#login .login .switchBox .slider::before{
    position: absolute;
    content: "";
    width: 13.5px;
    height: 13.5px;
    left: 2px;
    bottom: 2.5px;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#login .login .switchBox input:checked+.slider{
    background-color: #38b2ac;
}

#login .login .switchBox input:checked+.slider::before{
    transform: translateX(19px);
    -webkit-transform: translateX(19px);
    -moz-transform: translateX(19px);
    -ms-transform: translateX(19px);
    -o-transform: translateX(19px);
}

#login .login .switchBox .slider.rounded{
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
}

#login .login .switchBox .slider.rounded::before{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/*----------------------------------------------------------------*/
/*------------------------------Footer----------------------------*/
/*----------------------------------------------------------------*/

footer{
    background-color: transparent;
    text-align: center;
}

footer p{
    color: #cbad86;
    font-size: 14px;
}