/*----------------------------------------------------------------*/
/*------------------------------Header----------------------------*/
/*----------------------------------------------------------------*/

header #menu {
    position: relative;
    z-index: 99;
    /*background-color: #0766AD;
    */
    background-color: #fbfbfb;
    box-shadow: 0 4px 16px -3px #0000000f;
    padding: 15px 145px;
    padding-bottom: 0;
    border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius: 0 0 50px 50px;
}

header #menu .header-topSection {
    width: 100%;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}

header #menu .header-topSection .top-rightHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

header #menu .header-topSection a img {
    width: 100px;
    padding: 0 10px;
}

header #menu .header-topSection .top-rightHeader input{
    width: 500px;
    border: 1px solid #38A3A5;
    outline: none;
    padding: 7px 35px;
    font-family: "ravi";
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header #menu .header-topSection .top-rightHeader svg{
    position: absolute;
    right: 257px;
    top: 28px;
    color: #767676;
}

header .left-header {
    display: flex;
    align-items: center;
}

header .left-header .leftHeader-content {
    position: relative;
}

header .left-header .darkMode-control {
    position: absolute;
    left: 9px;
    top: 45px;
    /* opacity: 0;
    visibility: hidden; */
    width: 158px;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header .left-header .darkMode-control ul li {
    list-style: none;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid #cfcfcf;
    cursor: pointer;
}

header .left-header .darkMode-control ul li:nth-child(1) {
    padding-top: 0;
}

header .left-header .darkMode-control ul li:nth-child(3) {
    padding-bottom: 0;
    border: none;
}

header .left-header .darkMode-control ul li svg {
    margin-left: 5px;
}

header .userBtn {
    padding: 7px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

header .userBtn:hover {
    border-color: #38A3A5
}

header .userBtn a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

header .userBtn:hover a {
    color: #38A3A5;
}

header .userBtn a svg {
    margin-left: 5px;
}

header .left-header button {
    margin-right: 10px;
    font-size: 18px;
    /* padding: 8px 13px; */
    color: #000;
    border: 1px solid #000 !important;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}


:root {
    --white: #fdfdfa;
    --black: #4d4d4d;
    --primary: #00b7c6;
    --grey--dark: #aca79a;
}

:root[data-theme="dark"] {
    --white: #4d4d4d;
    --black: #efeeeb;
    --primary: #ff851b;
}



.dark-mode-toggle {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    display: inline-block;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    cursor: pointer;
    overflow: hidden;
    border-radius: .4rem;
    border: .2rem solid var(--grey--dark);
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}

.dark-mode-toggle:focus {
    outline: none;
    border-color: var(--primary);
}

:root[data-theme="dark"] .dark-mode-toggle__text:before {
    content: "deactivate ";
}

:root[data-theme="light"] .dark-mode-toggle__text:before {
    content: "activate ";
}

.dark-mode-toggle__icon {
    display: block;
    background: #cbad86;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    transition: width 0.3s, height 0.3s;
    z-index: 1;
    transform: rotate(-20deg);
}

.dark-mode-toggle__icon:before {
    z-index: 0;
    content: "";
    position: absolute;
    display: block;
    border-right: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transition: opacity 0.3s, background-image 03s;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin__rays 4s linear infinite;
    background-image: linear-gradient(0deg, transparent 46%, #cbad86 46%, #cbad86 54%, transparent 54%), linear-gradient(90deg, transparent 46%, #cbad86 46%, #cbad86 54%, transparent 54%), linear-gradient(45deg, transparent 47%, #cbad86 47%, #cbad86 53%, transparent 53%), linear-gradient(135deg, transparent 47%, #cbad86 47%, #cbad86 53%, transparent 53%);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
}

.dark-mode-toggle__icon:after {
    content: "";
    position: absolute;
    display: block;
    background: #fbfbfb;
    border-radius: 0.7rem;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 200%;
    transform: translateY(-50%);
    transition: left 0.3s;
}

.dark-mode-toggle:hover .dark-mode-toggle__icon {
    background: var(--primary);
}

.dark-mode-toggle:hover .dark-mode-toggle__icon:before {
    background-image: linear-gradient(0deg,
            transparent 47%,
            var(--primary) 47%,
            var(--primary) 53%,
            transparent 53%),
        linear-gradient(90deg,
            transparent 47%,
            var(--primary) 47%,
            var(--primary) 53%,
            transparent 53%),
        linear-gradient(45deg,
            transparent 48%,
            var(--primary) 48%,
            var(--primary) 52%,
            transparent 52%),
        linear-gradient(135deg,
            transparent 48%,
            var(--primary) 48%,
            var(--primary) 52%,
            transparent 52%);
}

:root[data-theme="light"] .dark-mode-toggle__icon:after {
    left: 40%;
}

:root[data-theme="dark"] .dark-mode-toggle__icon {
    width: 20px;
    height: 20px;
}

:root[data-theme="dark"] .dark-mode-toggle__icon:before {
    opacity: 1;
}

@keyframes spin__rays {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.hidden--visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header #menu .header-bottomSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

header #menu nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header #menu nav ul li {
    list-style: none;
    margin: 0 10px;
    padding: 5px 7px;
}

header #menu nav ul li a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

header #menu nav ul li a svg {
    margin-left: 7px;
}

header #menu nav ul li::after {
    content: " ";
    width: 0;
    height: 3px;
    display: block;
    background-color: #38A3A5;
    margin-top: 5px;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}

header #menu nav ul li:hover::after {
    width: 100%;
}

header #menu .startChat {
    font-family: "ravi";
    font-weight: 600;
    font-size: 15px;
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
}

header #menu .startChat svg {
    color: #38A3A5;
}

header #menu .startChat span {
    padding: 0 7px;
}

header #menu .startChat .fa-mobile-screen {
    font-size: 20px;
}

header .pageBg {
    width: 100%;
    padding: 20px 0;
    text-align: start;
}

header .pageBg .page-bg{
    position: relative;
    width: 100% !important;
    height: 150px !important;
    padding: 5px 0;
    background-color: #fff;
    background: url(../img/night\ mountain.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 16px -3px #0000000f;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.particles-js-canvas-el{
    position: absolute;
    top: 0;
}

header .pageBg .pageHeader-content {
    text-align: center;
}

header .pageBg .pageHeader-content h1 {
    font-family: "yekanBakh";
    color: #38A3A5;
}

header .pageBg .pageHeader-nav {
    padding: 5px 5px;
}

header .pageBg .pageHeader-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .pageBg .pageHeader-nav ul li {
    list-style: none;
    margin: 5px 10px;
}

header .pageBg .pageHeader-nav ul li:last-child::before {
    content: "/ ";
    color: #fff;
    margin-left: 10px;
}

header .pageBg .pageHeader-nav ul li a {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

header .pageBg .pageHeader-nav ul li a:hover {
    color: #64CCC5;
}

header .pageBg .pageHeader-nav ul li a svg {
    margin-left: 5px;
}

header .progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7px;
    background-color: transparent;
    z-index: 1000;
}

header .progress .progress-bar {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(42, 245, 152), rgb(8, 179, 229));
    /* background: linear-gradient(to right, rgb(184, 2, 216), rgb(225, 0, 43)); */
}


/*----------------------------------------------------------------*/
/*----------------------------Main Card---------------------------*/
/*----------------------------------------------------------------*/

#main-card {
    width: 100%;
    /* padding-bottom: 140px; */
}

body {
    font-family: "ravi";
}

/*----------------------------------------------------------------*/
/*---------------------------Map Section--------------------------*/
/*----------------------------------------------------------------*/

#mapSection {
    width: 100%;
    /* padding: 50px 0; */
}

#mapSection #maps {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 16px -3px #0000000f;
}

#mapSection #maps h1 {
    font-weight: 100;
}

#mapSection #maps .viewMap {
    width: 100%;
}

#mapSection #maps .viewMap .viewMapActions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}

#mapSection #maps .viewMap .viewMapActions .viewMapActions_center button {
    display: none;
    animation: heartbeat 2s infinite;
    -webkit-animation: heartbeat 2s infinite;
}

#mapSection #maps .viewMap .viewMapActions button {
    font-family: "ravi";
    font-size: 14px;
    font-weight: 100;
    padding: 3px 10px;
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid #38A3A5;
    color: #38A3A5;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#mapSection #maps .viewMap .viewMapActions button svg {
    font-size: 14px;
    margin-left: 5px;
}

#mapSection #maps .viewMap .viewMapActions button:hover{
    background-color: #38A3A5;
    color: #fff;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


#mapSection #maps .viewMap #map {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

#mapSection #maps .viewMap #map iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#mapSection #maps .viewMap #map button{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    right: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #00b7c6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#mapSection #maps .viewMap .lightBox {
    width: 100%;
    padding: 20px 0;
}

#mapSection #maps .viewMap .lightBox h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
    padding-bottom: 10px;
}

#mapSection #maps .viewMap .lightBox h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection #maps .viewMap .lightBox a {
    text-decoration: none;
}

#mapSection #maps .viewMap .lightBox a img {
    width: 150px;
    height: 100px;
    margin-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#mapSection #maps .comments {
    width: 100%;
    position: relative;
}

#mapSection #maps .comments input {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    font-family: "ravi";
    font-weight: 200;
    font-size: 14px;
    color: #767676;
    border: 1px solid #f0f0f0;
    outline: none;
    resize: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#mapSection #maps .comments input:focus {
    color: #000;
}

#mapSection #maps .comments svg {
    position: absolute;
    font-size: 18px;
    top: 12px;
    left: 10px;
    color: #767676;
}

#mapSection #mapDetails {
    width: 100%;
    /* padding: 0 20px; */
}

#mapSection #mapDetails #downloadMap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapSection #mapDetails #downloadMap button {
    width: 100%;
    padding: 8px 15px;
    margin-top: 10px;
    font-family: "ravi";
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#mapSection #mapDetails #downloadMap button svg {
    font-size: 18px;
    margin-left: 5px;
}

#mapSection #mapDetails #downloadMap button:nth-child(1) {
    background-color: #38A3A5;
    color: #fff;
    border: 2px solid #38A3A5;
}

#mapSection #mapDetails #downloadMap button:nth-child(1):hover {
    background-color: #fff;
    color: #38A3A5;
    border: 2px solid #38A3A5;
}

#mapSection #mapDetails #downloadMap button:nth-child(2) {
    background-color: #fff;
    color: #38A3A5;
    border: 2px solid #38A3A5;
}

#mapSection #mapDetails #downloadMap button:nth-child(2):hover {
    background-color: #337068;
    color: #fff;
    border: 2px solid #337068;
}

#mapSection #aboutMap {
    width: 100%;
}

#mapSection #aboutMap h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
    padding-bottom: 10px;
}

#mapSection #aboutMap h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection #aboutMap p {
    font-size: 14px;
    font-weight: 300;
    color: #767676;
    cursor: pointer;
}

#mapSection #trailStats {
    width: 100%;
}

#mapSection #trailStats h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
}

#mapSection #trailStats h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection #trailStats .trailStats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#mapSection #trailStats .trailStats .trailStateItem {
    width: 50%;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #efeeeb;
}

#mapSection #trailStats .trailStats .trailStateItem p:nth-child(1) {
    color: #777;
    font-weight: 200;
    font-size: 14px;
}

#mapSection #trailStats .trailStats .trailStateItem p:nth-child(2) {
    font-weight: 200;
    font-size: 15px;
}

#mapSection #WeatherForecast {
    width: 100%;
    padding: 0;
    background: linear-gradient(90deg, rgba(56,163,165,1) 0%, rgba(51,112,104,0.9753035003063726) 82%); 
}

#mapSection #WeatherForecast .show-weather-body{
    width: 100%;
    padding: 20px;
    background: url(../img/rain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    -ms-border-radius: 16px 16px 0 0;
    -o-border-radius: 16px 16px 0 0;
}

#mapSection #WeatherForecast .show-weather-body .weather-location p{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
}

#mapSection #WeatherForecast .show-weather-body .weather-temp{
    text-align: center;
}

#mapSection #WeatherForecast .show-weather-body .weather-temp h1{
    font-size: 70px;
    color: #fff;
}

#mapSection #WeatherForecast .show-weather-body .weather-temp p{
    font-size: 16px;
    color: #fff;
}

#mapSection #WeatherForecast .show-weather-body svg{
    margin-left: 5px;
}


#mapSection #WeatherForecast .show-weather-footer{
    width: 100%;
    padding: 10px;
}

#mapSection #WeatherForecast .show-weather-footer ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#mapSection #WeatherForecast .show-weather-footer ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 30%;
    list-style: none;
    padding: 10px 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#mapSection #WeatherForecast .show-weather-footer ul li svg{
    font-size: 18px;
    padding-bottom: 5px;
}

#mapSection #WeatherForecast .show-weather-footer ul li:hover{
    background-color: rgba(56,163,165,0.5);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}



/* #mapSection #WeatherForecast .WeatherForecast {
    width: 100%;
    text-align: center;

} */

/* #mapSection #WeatherForecast h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
}

#mapSection #WeatherForecast h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection #WeatherForecast .WeatherForecast svg {
    font-size: 50px;
    padding: 20px 20px;
}

#mapSection #WeatherForecast .WeatherForecast svg:nth-child(2) {
    color: #777;
}

#mapSection #WeatherForecast p {
    font-size: 14px;
    font-weight: 300;
    color: #767676;
} */

#mapSection #WeatherForecast p span {
    color: #337068;
}

#mapSection #rating {
    width: 100%;
}

#mapSection #rating h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
    padding-bottom: 10px;
}

#mapSection #rating h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection #rating ul li {
    list-style: none;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mapSection #rating ul li p {
    font-family: "ravi";
    font-weight: 200;
    font-size: 15px;
}

#mapSection #rating ul li svg {
    color: rgb(255, 255, 74);
}

.swal2-confirm {
    font-family: "ravi";
    font-weight: 700;
}

.mapDetailsItem{
    padding: 20px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 4px 16px -3px #0000000f;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.rigester{
    color: #000;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.rigester svg{
    margin-left: 5px;
}


/*----------------------------------------------------------------*/
/*---------------------------Most Visited-------------------------*/
/*----------------------------------------------------------------*/

#mostVisited {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    padding: 50px 0 130px 0;
}

#mostVisited .mostVisited {
    width: 100%;
}

#mostVisited .mostVisited .mostVisitedTitle {
    text-align: center;
    padding-bottom: 30px;
}

#mostVisited .mostVisited .mostVisitedTitle h2 {
    font-family: "ravi";
    font-size: 32px;
    font-weight: 800;
}

#mostVisited .mostVisited .trailCard {
    width: 100%;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#mostVisited .mostVisited .trailCard:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.009);
    -webkit-transform: scale(1.009);
    -moz-transform: scale(1.009);
    -ms-transform: scale(1.009);
    -o-transform: scale(1.009);
}

#mostVisited .mostVisited .trailCard .trailCard-header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

#mostVisited .mostVisited .trailCard .trailCard-header svg {
    font-size: 35px;
    color: #333;
    padding-left: 15px;
}

#mostVisited .mostVisited .trailCard .trailCard-header h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #333;
}

#mostVisited .mostVisited .trailCard .trailCard-header p {
    font-size: smaller;
    font-weight: 300;
    color: #767676;
    padding-top: 5px;
}

#mostVisited .mostVisited .trailCard .trailCard-body {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyRight {
    width: 50%;
    border-top: 1px solid #e0e0e0;
    padding-top: 5px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyRight .trailCardDetails {
    width: 50%;
    padding-bottom: 7px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyRight .trailCardDetails p:nth-child(1) {
    color: #333;
    font-weight: 100;
    font-size: 12px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyRight .trailCardDetails p:nth-child(2) {
    font-weight: 300;
    font-size: 14px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft {
    width: 50%;
    padding-right: 10px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft .userImg {
    display: flex;
    align-items: center;
    padding-top: 7px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft .userImg img {
    width: 50px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft .userImg p {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    padding-right: 10px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft .userImg .userImgName p:nth-child(1) {
    color: #333;
    font-weight: 100;
    font-size: 12px;
}