/*----------------------------------------------------------------*/
/*------------------------------Header----------------------------*/
/*----------------------------------------------------------------*/

header #menu {
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0766AD;
    padding: 10px 20px 8px 20px;
    box-shadow: 1px 1px 5px #000;
}

header #menu nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header #menu nav ul li {
    list-style: none;
    margin: 0 10px;
    padding: 5px 10px;
}

header #menu nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

header #menu nav ul li a svg {
    margin-left: 7px;
}

header #menu nav ul a img {
    width: 90px;
    margin-left: 15px;
}

header .userBtn a {
    font-family: "ravi";
    font-weight: 400;
    width: 80px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #menu nav ul li::after {
    content: " ";
    width: 0;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-top: 5px;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}

header #menu nav ul li:hover::after {
    width: 100%;
}

header .userBtn a:nth-child(1) {
    border: 1px solid #38A3A5;
    color: #fff;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

header .userBtn a:hover:nth-child(1) {
    background-color: #fff;
    border: 1px solid #38A3A5;
    color: #38A3A5;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}

header .userBtn a:nth-child(2) {
    color: #164863;
    margin-right: 2px;
    background-color: #64CCC5;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

header .userBtn a:hover:nth-child(2) {
    color: #64CCC5;
    background-color: #123c53;
    border: 1px solid #64CCC5;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}

header .page-bg {
    width: 100%;
    background: url(../../assets/img/background-2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .page-bg .pageHeader-content {
    padding-bottom: 15px;
    text-align: center;
}

header .page-bg .pageHeader-content h1 {
    font-family: "yekanBakh";
    color: #F4CE14;
}

header .page-bg .pageHeader-nav {
    padding: 5px 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: rgba(132, 132, 132, 0.6);
}

header .page-bg .pageHeader-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .page-bg .pageHeader-nav ul li {
    list-style: none;
    margin: 5px 10px;
}

header .page-bg .pageHeader-nav ul li:last-child::before {
    content: "/ ";
    color: #fff;
    margin-left: 10px;
}

header .page-bg .pageHeader-nav ul li a {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

header .page-bg .pageHeader-nav ul li a:hover {
    color: #64CCC5;
}

header .page-bg .pageHeader-nav ul li a svg {
    margin-left: 5px;
}

header .progress{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7px;
    background-color: transparent;
    z-index: 1000;
}

header .progress .progress-bar{
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(42, 245, 152), rgb(8, 179, 229));
    /* background: linear-gradient(to right, rgb(184, 2, 216), rgb(225, 0, 43)); */
}


/*----------------------------------------------------------------*/
/*----------------------------Main Card---------------------------*/
/*----------------------------------------------------------------*/

#main-card {
    width: 100%;
    /* padding-bottom: 140px; */
}

body {
    font-family: "ravi";
}

/*----------------------------------------------------------------*/
/*---------------------------Map Section--------------------------*/
/*----------------------------------------------------------------*/

#mapSection {
    width: 100%;
    padding: 50px 0;
}

#mapSection #maps {
    width: 100%;
}

#mapSection #maps h1 {
    font-weight: 100;
}

#mapSection #maps .viewMap {
    width: 100%;
}

#mapSection #maps .viewMap .viewMapActions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}

#mapSection #maps .viewMap .viewMapActions .viewMapActions_center button {
    display: none;
    animation: heartbeat 2s infinite;
    -webkit-animation: heartbeat 2s infinite;
}

#mapSection #maps .viewMap .viewMapActions button {
    font-family: "ravi";
    font-size: 14px;
    font-weight: 100;
    padding: 3px 10px;
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid #38A3A5;
    color: #38A3A5;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#mapSection #maps .viewMap .viewMapActions button svg {
    font-size: 14px;
    margin-left: 5px;
    color: #38A3A5;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


#mapSection #maps .viewMap #map {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
}

#mapSection #maps .viewMap .lightBox {
    width: 100%;
    padding: 20px 0;
}

#mapSection #maps .viewMap .lightBox h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
    padding-bottom: 10px;
}

#mapSection #maps .viewMap .lightBox h2 svg {
    margin-left: 5px;
    font-size: 14px;
}


#mapSection #maps .viewMap .lightBox a {
    text-decoration: none;
}

#mapSection #maps .viewMap .lightBox a img {
    width: 150px;
    height: 100px;
    margin-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


#mapSection #maps .comments {
    width: 100%;
    position: relative;
}

#mapSection #maps .comments input {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    font-family: "ravi";
    font-weight: 200;
    font-size: 14px;
    color: #767676;
    border: 1px solid #f0f0f0;
    outline: none;
    resize: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#mapSection #maps .comments input:focus {
    color: #000;
}

#mapSection #maps .comments svg {
    position: absolute;
    font-size: 18px;
    top: 12px;
    left: 10px;
    color: #767676;
}







#mapSection #mapDetails {
    width: 100%;
    padding: 0 20px;
    padding-top: 49px;
}

#mapSection #mapDetails .downloadMap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapSection #mapDetails .downloadMap button {
    width: 100%;
    padding: 8px 15px;
    margin-top: 10px;
    font-family: "ravi";
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#mapSection #mapDetails .downloadMap button svg {
    font-size: 18px;
    margin-left: 5px;
}

#mapSection #mapDetails .downloadMap button:nth-child(1) {
    background-color: #38A3A5;
    color: #fff;
    border: 2px solid #38A3A5;
}

#mapSection #mapDetails .downloadMap button:nth-child(1):hover {
    background-color: #fff;
    color: #38A3A5;
    border: 2px solid #38A3A5;
}

#mapSection #mapDetails .downloadMap button:nth-child(2) {
    background-color: #fff;
    color: #38A3A5;
    border: 2px solid #38A3A5;
}

#mapSection #mapDetails .downloadMap button:nth-child(2):hover {
    background-color: #337068;
    color: #fff;
    border: 2px solid #337068;
}

#mapSection .aboutMap {
    width: 100%;
    padding: 20px 0;
}

#mapSection .aboutMap h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
    padding-bottom: 10px;
}

#mapSection .aboutMap h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection .aboutMap p {
    font-size: 14px;
    font-weight: 300;
    color: #767676;
    cursor: pointer;
}

#mapSection #trailStats {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #f0f0f0;
}

#mapSection #trailStats h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
}

#mapSection #trailStats h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection #trailStats .trailStats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#mapSection #trailStats .trailStats .trailStateItem {
    width: 50%;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

#mapSection #trailStats .trailStats .trailStateItem p:nth-child(1) {
    color: #777;
    font-weight: 200;
    font-size: 14px;
}

#mapSection #trailStats .trailStats .trailStateItem p:nth-child(2) {
    font-weight: 200;
    font-size: 15px;
}

/* #mapSection #trailStats .trailStats .ts-right{
    border-left: 1px solid #f0f0f0;
} */

#mapSection #WeatherForecast {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

#mapSection #WeatherForecast .WeatherForecast {
    width: 100%;
    text-align: center;

}

#mapSection #WeatherForecast h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
}

#mapSection #WeatherForecast h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection #WeatherForecast .WeatherForecast svg {
    font-size: 50px;
    padding: 20px 20px;
}

#mapSection #WeatherForecast .WeatherForecast svg:nth-child(2) {
    color: #777;
}

#mapSection #WeatherForecast p {
    font-size: 14px;
    font-weight: 300;
    color: #767676;
}

#mapSection #WeatherForecast p span {
    color: #337068;
}

#mapSection #rating {
    width: 100%;
    padding: 20px 0;
}

#mapSection #rating h2 {
    font-family: "ravi";
    font-weight: 700;
    font-size: 14px;
    color: #767676;
    padding-bottom: 10px;
}

#mapSection #rating h2 svg {
    margin-left: 5px;
    font-size: 14px;
}

#mapSection #rating ul li{
    list-style: none;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mapSection #rating ul li p{
    font-family: "ravi";
    font-weight: 200;
    font-size: 15px;
}

#mapSection #rating ul li svg{
    color: rgb(255, 255, 74);
}

.swal2-confirm{
    font-family: "ravi";
    font-weight: 700;
}


/*----------------------------------------------------------------*/
/*---------------------------Most Visited-------------------------*/
/*----------------------------------------------------------------*/

#mostVisited{
    width: 100%;
    border-top: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    padding: 50px 0 130px 0;
}

#mostVisited .mostVisited{
    width: 100%;
}

#mostVisited  .mostVisited .mostVisitedTitle{
    text-align: center;
    padding-bottom: 30px;
}

#mostVisited  .mostVisited .mostVisitedTitle h2 {
    font-family: "ravi";
    font-size: 32px;
    font-weight: 800;
  }

#mostVisited .mostVisited .trailCard{
    width: 100%;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#mostVisited .mostVisited .trailCard:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.009);
    -webkit-transform: scale(1.009);
    -moz-transform: scale(1.009);
    -ms-transform: scale(1.009);
    -o-transform: scale(1.009);
}

#mostVisited .mostVisited .trailCard .trailCard-header{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

#mostVisited .mostVisited .trailCard .trailCard-header svg{
    font-size: 35px;
    color: #333;
    padding-left: 15px;
}

#mostVisited .mostVisited .trailCard .trailCard-header h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #333;
}

#mostVisited .mostVisited .trailCard .trailCard-header p{
    font-size: smaller;
    font-weight: 300;
    color: #767676;
    padding-top: 5px;
}

#mostVisited .mostVisited .trailCard .trailCard-body{
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyRight{
    width: 50%;
    border-top: 1px solid #e0e0e0;
    padding-top: 5px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyRight .trailCardDetails{
    width: 50%;
    padding-bottom: 7px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyRight .trailCardDetails p:nth-child(1) {
    color: #333;
    font-weight: 100;
    font-size: 12px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyRight .trailCardDetails p:nth-child(2) {
    font-weight: 300;
    font-size: 14px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft{
    width: 50%;
    padding-right: 10px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft .userImg{
    display: flex;
    align-items: center;
    padding-top: 7px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft .userImg img{
    width: 50px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft .userImg p{
    color: #333;
    font-size: 14px;
    font-weight: 300;
    padding-right: 10px;
}

#mostVisited .mostVisited .trailCard .trailCard-body .trailCard-bodyLeft .userImg .userImgName p:nth-child(1){
    color: #333;
    font-weight: 100;
    font-size: 12px;
}